@use 'default';
@use 'colors';

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;

  .sale {
    background-color: #313e7c;
    padding: 16px;
    color: white;
    text-align: center;
    span {
      color: orange;
    }
  }

  .menu {
    background-color: white;
    padding: 16px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 2px solid #e0e0e0;

    .logo-search {
      display: flex;
      gap: 40px;
      align-items: center;
    }

    .logo {
      display: flex;
      gap: 5px;
      align-items: center;
    }

    input {
      
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 12px;
      font-size: 14px;
    }

    .nav,
    .buttons {
      display: flex;
      gap: 15px;
      align-items: center;
    }
  }
}
